<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>ProjetJEE_Police</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<env-entry>
		<env-entry-name>baseURL</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>http://localhost:8087/ProjetJEE_Police_API/API</env-entry-value>
	</env-entry>
	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>be.veltri.SERVLETS.loginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/</url-pattern>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>headHome</servlet-name>
		<servlet-class>be.veltri.SERVLETS.headHome</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>headHome</servlet-name>
		<url-pattern>/headHome</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>adminHome</servlet-name>
		<servlet-class>be.veltri.SERVLETS.adminHome</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>adminHome</servlet-name>
		<url-pattern>/adminHome</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>fineCollectorHome</servlet-name>
		<servlet-class>be.veltri.SERVLETS.fineCollectorHome</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>fineCollectorHome</servlet-name>
		<url-pattern>/fineCollectorHome</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>policemanHome</servlet-name>
		<servlet-class>be.veltri.SERVLETS.policemanHome</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>policemanHome</servlet-name>
		<url-pattern>/policemanHome</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>checkTicket</servlet-name>
		<servlet-class>be.veltri.SERVLETS.checkTicket</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>checkTicket</servlet-name>
		<url-pattern>/checkTicket</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>addInfraction</servlet-name>
		<servlet-class>be.veltri.SERVLETS.addInfraction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addInfraction</servlet-name>
		<url-pattern>/addInfraction</url-pattern>
	</servlet-mapping>
</web-app>